<!--
  Generated template for the DashboardProcedimentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button (click)="back()" ion-button icon-left clear>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <div class="icon-section">
                <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
            </div>
        </ion-buttons>
        <ion-title>Procedimento</ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="whichPage">
        <ion-segment-button value="Procedimento" checked (ionSelect)="segmentProcedimentoClicked($event)">
            <ion-icon name="logo-buffer"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="Personalizzazioni" (ionSelect)="segmentPersonalizzazioniClicked($event)">
            <ion-icon name="hammer"></ion-icon>
            <ion-label>Personalizzazioni</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Fasi" (ionSelect)="segmentFasiClicked($event)">
            <ion-icon name="locate"></ion-icon>
            <ion-label>Fasi</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>

    <div [ngSwitch]="whichPage">
        <ion-list *ngSwitchCase="'Procedimento'">
            <div *ngIf="selectedProcedimento">
                <ion-item color="primary-lighter" class="ion-section-title">
                    <ion-label>Procedimento</ion-label>
                </ion-item>
                <ion-list-header text-wrap>
                    <h3>{{selectedProcedimento.pro_titolo}}</h3>
                </ion-list-header>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Stato proprietà </p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.pro_chiuso}} {{selectedProcedimento.pro_chiuso_autocertificazione}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Tipologia </p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.tab_tipo_procedimento_desc}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Codice Sito </p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.az_codice_interno}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p> Sito </p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.az_ragione_sociale}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Data avvio</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.pro_data_avvio}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Tipologia</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.tab_tipo_procedimento_desc}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Date Esecuzione (se presenti)</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>da {{selectedProcedimento.pro_da_data_esecuzione}}<br>a {{selectedProcedimento.pro_a_data_esecuzione}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Descrizione</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.pro_descrizione}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Stato</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.pro_chiuso}} {{selectedProcedimento.pro_chiuso_autocertificazione}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Note</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.pro_note}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Cause apertura (se presenti)</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.tab_cause_apertura_sito_desc}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Causa notifica (se presente)</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.tab_cause_notifica_desc}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>Ente controllo (se presente)</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.ente_controllo}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                <ion-item text-wrap *ngIf="selectedProcedimento.stato_prescrizioni">
                    <ion-icon name="alert" color="danger" item-start></ion-icon>
                    Scadute
                    <ion-badge item-end color="danger">{{selectedProcedimento.stato_prescrizioni.pr_scadute}}</ion-badge>
                </ion-item>
                <ion-item text-wrap *ngIf="selectedProcedimento.stato_prescrizioni">
                    <ion-icon name="time" color="alert" item-start></ion-icon>
                    In scadenza
                    <ion-badge item-end color="alert">{{selectedProcedimento.stato_prescrizioni.pr_in_scadenza}}</ion-badge>
                </ion-item>
                <ion-item text-wrap *ngIf="selectedProcedimento.stato_prescrizioni">
                    <ion-icon name="information-circle" color="future" item-start></ion-icon>
                    Future
                    <ion-badge item-end color="future">{{selectedProcedimento.stato_prescrizioni.pr_prossime}}</ion-badge>
                </ion-item>
                <ion-item text-wrap *ngIf="selectedProcedimento.stato_prescrizioni">
                    <ion-icon name="help-circle" color="no-date" item-start></ion-icon>
                    Senza data
                    <ion-badge item-end color="no-date">{{selectedProcedimento.stato_prescrizioni.pr_senza_data}}</ion-badge>
                </ion-item>
                <ion-item text-wrap *ngIf="selectedProcedimento.stato_prescrizioni">
                    <ion-icon name="time" color="vincolate" item-start></ion-icon>
                    Vincolate
                    <ion-badge item-end color="vincolate">{{selectedProcedimento.stato_prescrizioni.pr_vincolate}}</ion-badge>
                </ion-item>
                <ion-item text-wrap *ngIf="selectedProcedimento.stato_prescrizioni">
                    <ion-icon name="checkmark-circle" color="done" item-start></ion-icon>
                    Ottemperate
                    <ion-badge item-end color="done">{{selectedProcedimento.stato_prescrizioni.pr_ottemperate}}</ion-badge>
                </ion-item>
                <ion-item text-wrap>
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>elenco campi personalizzati</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{selectedProcedimento.az_note}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Personalizzazioni'">
            <ion-item color="primary-lighter" class="ion-section-title">
                <ion-label>Personalizzazioni</ion-label>
            </ion-item>
            <div *ngFor="let p of personalizzazioni">
                <ion-item text-wrap *ngIf="p.tp_tipo_campo==='T'|| p.tp_tipo_campo==='S'">
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>{{p.tp_scheda_testo}}</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{p.tp_valore_t}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                
                <ion-item text-wrap *ngIf="p.tp_tipo_campo==='D'">
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>{{p.tp_scheda_testo}}</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{p.tp_valore_d}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                
                <ion-item text-wrap *ngIf="p.tp_tipo_campo==='N'">
                    <ion-grid no-padding>
                        <ion-row>
                            <ion-col>
                                <p>{{p.tp_scheda_testo}}</p>
                            </ion-col>
                            <ion-col col-8 text-right>
                                <p>{{p.tp_valore_n}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
                
                <div *ngIf="p.tp_tipo_campo==='M'">
                    <ion-list-header color="light"> {{p.tp_scheda_testo}}</ion-list-header>
                    <ion-item *ngFor="let v of p.tp_valori">
                        <ion-label><small>{{v.tp_testo}} {{v.tp_valore}}</small></ion-label>
                        <ion-checkbox slot="end" disabled="true" [checked]="v.tp_valore_scelto!=='N'"></ion-checkbox>
                    </ion-item>
                </div>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Fasi'">
            <ion-item color="primary-lighter" class="ion-section-title">
                <ion-label>Fasi</ion-label>
            </ion-item>
            <ion-item text-wrap>
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col>
                            <p>Titolo</p>
                        </ion-col>
                        <ion-col col-8 text-right>
                            <p>{{selectedProcedimento.pro_titolo}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item text-wrap>
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col>
                            <p>Sito</p>
                        </ion-col>
                        <ion-col col-8 text-right>
                            <p>{{selectedProcedimento.az_ragione_sociale}}</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            
            <ion-item *ngFor="let f of fasi; let i=index" text-wrap>
                <ion-grid no-padding>
                    <ion-row>
                        <ion-col >
                            <p>{{f.tab_fase_procedimento_desc}}</p>
                        </ion-col>
                        <ion-col text-right>
                            <progress-bar [progress]="f.perc_avanzamento"></progress-bar>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <!--<ion-row>
                    <span ion-text>
                        <p>
                         
                        <ion-icon padding-left *ngIf="f.step_avanzamento.length>0" [name]="selectedFase == i ? 'arrow-down' : 'arrow-forward'" float-right (click)="espendiFase($event, f, i)"></ion-icon>
                        </p>
                    </span>
                    <ion-list [hidden]="selectedFase != i">
                        <ion-item no-border *ngFor="let s_a of f.step_avanzamento">
                            <ion-row>
                                {{s_a.tab_fase_procedimento_step.tab_fase_procedimento_step_desc}}
                                {{s_a.ps_fine}}
                                {{s_a.tab_fase_procedimento_step.tab_fase_procedimento_step_peso}}
                            </ion-row>
                        </ion-item>
                    </ion-list>
                </ion-row>-->
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<div [ngSwitch]="whichPage">
    <ion-footer *ngSwitchCase="'Procedimento'">
        <ion-toolbar>
            <button  ion-button small item-end icon-start block *ngIf="selectedProcedimento.stato_prescrizioni" (click)="goToComunicazioni()">
                <ion-icon name="mail" ios="ios-add-circle-outline"></ion-icon>Comunicazioni
                <ion-badge item-end color="">{{selectedProcedimento.stato_prescrizioni.comunicazioni}}</ion-badge>
            </button>
        </ion-toolbar>
    </ion-footer>
</div>