<!--
  Generated template for the DashboardSitoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()" ion-button icon-left clear>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <div class="icon-section">
        <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
      </div>
    </ion-buttons>
        <ion-title>Sito</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <div padding>
    <ion-segment [(ngModel)]="whichPage">
      <ion-segment-button value="Sito" checked (ionSelect)="segmentSitoClicked($event)">
      <ion-icon name="home"></ion-icon>

      </ion-segment-button>
      <ion-segment-button value="Catastale" (ionSelect)="segmentCatastaleClicked($event)">
        Catastale
      </ion-segment-button>
      <ion-segment-button value="Procedimenti" (ionSelect)="segmentProcedimentiClicked($event)">
        Procedimenti
      </ion-segment-button>
      <ion-segment-button value="Grafico" (ionSelect)="segmentGraficoClicked($event)">
        Grafico torta
      </ion-segment-button>
      <ion-segment-button value="Mappa" (ionSelect)="segmentMappaClicked($event)">
        <ion-icon name="map"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Immagini" (ionSelect)="segmentImmaginiClicked($event)">
        <ion-icon name="images"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="whichPage">
    <ion-list *ngSwitchCase="'Sito'">
      <ion-item>
        <h3 text-center *ngIf="selectedSito">
          <p>codice {{selectedSito.az_codice_interno}}</p>
          <p>titolo {{selectedSito.az_ragione_sociale}}</p>
          <p>Indirizzo {{selectedSito.indirizzo_completo}}</p>
          <p>cliente {{selectedSito.gruppo_desc}}</p>
          <p>estensione {{selectedSito.az_estensione}}</p>
          <p>note {{selectedSito.az_note}}</p>
          <p>responsabile {{selectedSito.az_responsabile_desc}}</p>
        </h3>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'Catastale'">
      <ion-item *ngFor="let c of catastale">
        Settore {{c.azc_settore}}
        Descrizione {{c.azc_desc}}
        Tipo proprietà {{c.tab_tipo_proprieta_desc}}
        Stato proprietà {{c.tab_stato_proprieta_desc}}
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'Procedimenti'">
      <ion-item *ngFor="let procedimento of procedimenti">
        Nome procedimento {{procedimento.pro_titolo}}
        Tipo {{procedimento.tab_tipo_procedimento_desc}}
        Icona tonda rossa alert prescrizioni scadute con numero {{procedimento.pr_scadute}}
        Icona tonda gialla orologio prescrizioni In scadenza con numero {{procedimento.pr_in_scadenza}}
        Icona tonda celeste info prescrizioni future con numero {{procedimento.pr_prossime}}
        Icona tonda arancione interrogativo prescrizioni senza data con numero {{procedimento.pr_senza_data}}
        Icona tonda verde spunta prescrizioni ottemperate con numero {{procedimento.pr_ottemperate}}
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'Grafico torta'">
      <ion-item>
        pluto
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'Mappa'">
      <ion-item>
          <map-component [mapModel]="mapModel" *ngIf="showMap" (onMarkerClicked)="markerClicked($event)" ></map-component>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'Immagini'">
      <ion-item>
        Immagini
      </ion-item>
    </ion-list>
  </div>

</ion-content>