<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button (click)="back()" ion-button icon-left clear>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <div class="icon-section">
                <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
            </div>
        </ion-buttons>
        <ion-title>Messaggi Cestino</ion-title>
    </ion-navbar>
    <ion-searchbar (ionInput)="setMessaggiFiltro($event)"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let mess of listaMessaggi">
            <ion-item text-wrap (click)="goToDetails(mess)">
                <ion-avatar item-start>
                    <img src="{{mess.url_avatar}}">
                </ion-avatar>
                <h3>{{mess.cognome_mit}} {{mess.nome_mit}}</h3>
                <p class="anteprima_mess">{{mess.soggetto}}</p>
                <p class="anteprima_mess">{{mess.data}}</p>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="danger" (click)="deleteConfirm(mess)">
                    <ion-icon name="close"></ion-icon>
                    Elimina
                </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="secondary" (click)="goToDetails(mess)">
                    <ion-icon name="cloud-upload"></ion-icon>
                    Recupera
                </button>
                <button ion-button color="primary-lighter" (click)="goToDetails(mess)">
                    <ion-icon name="eye"></ion-icon>
                    Leggi
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ul class="comm hidden">
            <li class="list-group-item " *ngFor="let mess of listaMessaggi">
                <div class=" item ">
                    <ion-icon name="eye" (click)="goToDetails(mess)"></ion-icon>
                    <ion-icon name="close" (click)="deleteConfirm(mess)"></ion-icon>
                    <ion-icon name="cloud-upload" (click)="ripristina(mess)"></ion-icon>
                </div>
                <div class="brief" (click)="goToDetails(mess)">
                    <h5 class="name ">{{mess.cognome_mit}} {{mess.nome_mit}}</h5>
                    <p [ngStyle]="{'color' : color }" class="text ">{{mess.soggetto}}</p>
                    <p [ngStyle]="{'color' : color }">{{mess.data}}</p>
                    <i [ngStyle]="{'color' : color }" class="fa fa-mobile device"></i>
                </div>
            </li>
        </ul>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Caricamento Messaggi...">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>