<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button (click)="back()" ion-button icon-left clear>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <div class="icon-section">
                <i [ngClass]="icon" [ngStyle]="{'color' : color }"></i>
            </div>
        </ion-buttons>
        <ion-title>Messaggi Importanti</ion-title>
    </ion-navbar>
    <ion-searchbar (ionInput)="setMessaggiFiltro($event)"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let mess of listaMessaggi">
            <ion-item text-wrap (click)="goToDetails(mess)">
                <ion-avatar item-start>
                    <img src="{{mess.url_avatar}}">
                </ion-avatar>
                <h3>{{mess.cognome_mit}} {{mess.nome_mit}}</h3>
                <p class="anteprima_mess">{{mess.soggetto}}</p>
                <p class="anteprima_mess">{{mess.data}}</p>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button color="danger" (click)="deleteConfirm(mess)">
                    <ion-icon name="trash"></ion-icon>
                    Cestino
                </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="secondary" *ngIf="mess.preferito==''" (click)="setStar(mess,'S')">
                    <ion-icon name="star-outline"></ion-icon>
                    Importante
                </button>
                <button ion-button color="secondary" *ngIf="mess.preferito=='N'" (click)="setStar(mess,'S')">
                    <ion-icon name="star-outline"></ion-icon>
                    Importante
                </button>
                <button ion-button color="secondary" *ngIf="mess.preferito=='S'" (click)="setStar(mess,'N')">
                    <ion-icon name="star"></ion-icon>
                    Importante
                </button>
                <button ion-button color="primary-lighter" (click)="goToDetails(mess)">
                    <ion-icon name="eye"></ion-icon>
                    Leggi
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ul class="comm hidden">
            <li class="list-group-item " *ngFor="let mess of listaMessaggi">
                <div class=" item ">
                    <ion-icon name="eye" (click)="goToDetails(mess)"></ion-icon>
                    <ion-icon name="checkbox"></ion-icon>
                    <ion-icon name="star-outline" *ngIf="mess.preferito==''" (click)="setStar(mess,'S')"></ion-icon>
                    <ion-icon name="star-outline" *ngIf="mess.preferito=='N'" (click)="setStar(mess,'S')"></ion-icon>
                    <ion-icon name="star" *ngIf="mess.preferito=='S'" (click)="setStar(mess,'N')"></ion-icon>
                    <ion-icon name="trash" (click)="deleteConfirm(mess)"></ion-icon>
                    
                </div>
                <div class="brief" (click)="goToDetails(mess)">
                    <h5 class="name ">{{mess.cognome_mit}} {{mess.nome_mit}}</h5>
                    <p [ngStyle]="{'color' : color }" class="text ">{{mess.soggetto}}</p>
                    <p [ngStyle]="{'color' : color }">{{mess.data}}</p>
                    <i [ngStyle]="{'color' : color }" class="fa fa-mobile device"></i>
                </div>
            </li>
        </ul>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Caricamento Messaggi...">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>